html, body {
  width: 100%;
  height: 100%;
  background-color: #636363;
}

section {
  height: calc(100% - 120px);
}
section .pai {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  height: 100%;
}
section .pai .search {
  height: 60px;
  background: #dcfeff;
  border-bottom: outset 2px rgba(0, 0, 0, 0.5);
  border-top: outset 2px rgba(0, 0, 0, 0.3);
}
section .pai .search .buscar {
  height: 100%;
}
section .pai .search .buscar form {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
section .pai .search .buscar form div {
  position: relative;
  display: flex;
  flex-direction: row;
}
section .pai .search .buscar form div input {
  background-color: white;
  width: 500px;
  height: 40px;
  border: solid 1.5px;
  padding: 0 0 0 8px;
  font-size: 18px;
  border-radius: 5px;
}
section .pai .search .buscar form div button {
  position: absolute;
  right: 0;
  height: 100%;
  width: 45px;
  padding-top: 5px;
  font-size: 25px;
  background: rgba(0, 0, 0, 0);
  border: none;
}
section .pai .search .buscar form div button:hover {
  color: #373737;
  cursor: pointer;
}
section .pai .nav {
  background-color: #dcfeff;
  height: 100%;
}
section .pai .nav .pec {
  height: 60px;
  width: 100%;
  background: #dcfeff;
  border-bottom: outset 2px rgba(0, 0, 0, 0.5);
  border-top: outset 2px rgba(0, 0, 0, 0.3);
}
section .pai .nav .nav2 {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}
section .pai .nav .nav2 .itensNav {
  margin-top: 50px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
section .pai .nav .nav2 .itensNav .div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}
section .pai .nav .nav2 .itensNav nav {
  cursor: pointer;
  margin: 5px 0;
  background-color: #21262d;
  color: #e9e9e9;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
section .pai .nav .nav2 .itensNav nav span {
  font-size: 20px;
  font-family: cursive;
  font-weight: bold;
}
section .pai .nav .nav2 .itensNav nav ul {
  display: none;
  flex-direction: column;
  padding: 0;
}
section .pai .nav .nav2 .itensNav nav ul ul {
  display: none;
}
section .pai .nav1 .pec {
  border-bottom: outset 2px rgba(0, 0, 0, 0.5);
  border-top: outset 2px rgba(0, 0, 0, 0.3);
}
section .pai .itens {
  background: linear-gradient(0, #ffffff, #a6bfff);
  height: calc(100% - 60px);
  padding: 30px;
  display: flex;
  justify-content: center;
  border-right: outset 2px rgba(0, 0, 0, 0.3);
  border-left: outset 2px rgba(0, 0, 0, 0.3);
}
section .pai .itens .org {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
  grid-row-gap: 50px;
}
section .pai .itens .org .item {
  position: relative;
  width: 100%;
  height: 350px;
  padding: 5px;
  border: outset 2px rgba(0, 0, 0, 0.3);
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
section .pai .itens .org .item form {
  height: 100%;
}
section .pai .itens .org .item form .form {
  height: 100%;
}
section .pai .itens .org .item form .form div {
  display: flex;
  justify-content: center;
}
section .pai .itens .org .item form .form .img {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
}
section .pai .itens .org .item form .form .img img {
  width: 100%;
  height: 100%;
}
section .pai .itens .org .item form .form .inffo {
  height: 40%;
  display: flex;
  flex-direction: column;
}
section .pai .itens .org .item form .form .inffo .spn {
  height: 80%;
  padding: 5px 0 5px 0;
  display: flex;
  flex-direction: column;
  position: relative;
}
section .pai .itens .org .item form .form .inffo .spn span {
  margin: 2px 0 2px 0;
  color: #181818;
}
section .pai .itens .org .item form .form .inffo .spn .star {
  display: flex;
  justify-content: end;
  margin: 3px 0 3px 0;
}
section .pai .itens .org .item form .form .inffo .spn .name {
  position: relative;
  font-weight: bold;
}
section .pai .itens .org .item form .form .inffo .spn .frt {
  color: darkcyan;
}
section .pai .itens .org .item form .form .inffo .spn .price {
  color: darkgreen;
}
section .pai .itens .org .item form .form .inffo .btt {
  position: relative;
  height: 20%;
}
section .pai .itens .org .item form .form .inffo .btt button {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

/*# sourceMappingURL=index.css.map */
